@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
 
body{
  font-family: Poppins;
  line-height: 1.4;
  background-color: #96B0B6;
  width: 500px; 
  margin: auto;
}

form{
  background: #A7A8A9;
  padding: 2.5rem;
  border-radius: 2.5rem;
  width: 500px;
  margin: auto;
}

.submit_button{
  width: 100%;
  padding: 0.75rem;
  background: red;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.inputheading{
  margin: 0 auto 1.2rem auto;
  padding: 0.25rem;
  
}

.forminput{

  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #CED4DA;
  border-radius: 0.25rem;


}